
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h4 {
    text-align: center;
}
/*header text*/
h1 {
    color: white;
    font-weight: bold;
    text-shadow: 3px 2px black;
}
/*2nd heading*/
#Hcolor {
    clear: left;
    padding-top: 2%;
}
h4 {
    font-style: italic;
}
#header {
    background-image: url("rainbowBG.jpg");
    background-size: 300px 100px;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;

}
#container {
    margin-top: 110px;
}
#colorCategories ul {
    list-style-type: none;             
    padding: 0;
    width: 100%;
}
#colorCategories li {
    float: left;
    display: block;
    width: 6%;
    padding: 15px 10px;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
    margin: auto;
}
#colorCategories li:hover {
    color: blue;
}
/*div to hold the JS generated color list*/
#listColors {
    width: 100%;
    height: 40%;
    margin-left: 8px;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
/* colorlist ul */
#colorList  {
    list-style-type: none;
    display: inline-block;
    text-align: left;
}
/* columns container div */
.row {
    margin-left: 2.5%;
}
.color:hover {
    color: blue;
}
/* drag event columns */
.column {
    float: left;
    width: 24.5%;
    border: 1px solid black;
    height: 300px;
    margin: 0;
    padding: 0;
}